body {
    background-color: black;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 102px 100px;
    grid-template-rows: 100px 102px 100px;  
    justify-content: center;
}

.square {
    height: 100px;
    width: 100px;
    margin: auto;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family: monospace;
    font-size: 84px;
}

.top-left {
    border-right: 2px solid hotpink;
    border-bottom: 2px solid hotpink;
}

.top-right {
    border-left: 2px solid hotpink;
    border-bottom: 2px solid hotpink;
}

.center {
    border: 2px solid hotpink;
}

.bottom-left {
    border-top: 2px solid hotpink;
    border-right: 2px solid hotpink;
}

.bottom-right {
    border-top: 2px solid hotpink;
    border-left: 2px solid hotpink;
}
